{% extends 'main/base.html' %}

{% block content %}

{% with messages=get_flashed_messages(with_categories=true) %}
<br />
{% for category, message in messages %}
<div class='alert alert-{{category}} text-center alert-dismissible fade show m-auto'>
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endwith %}

<br />

<form method="POST">
    {{form.hidden_tag()}}

    {{form.user_name.label(class="form-label")}}
    {{form.user_name(class="form-control")}}
    {{form.user_login.label(class="form-label")}}
    {{form.user_login(class="form-control")}}
    {{form.user_password.label(class="form-label")}}
    {{form.user_password(class="form-control")}}
    {{form.user_cpassword.label(class="form-label")}}
    {{form.user_cpassword(class="form-control")}}
    {% for error in form.user_cpassword.errors %}
    {{ error }}
    {% endfor%}
    <br />
    {{form.submit(class="btn btn-secondary")}}
</form>

{% endblock %}