<header class="p-3 text-bg-dark">
    <div class="container">
        <nav class="navbar border-bottom border-body d-flex bg-dark align-items-center justify-content-center justify-content-lg-start"
            data-bs-theme="dark">
            <a href="/" class=" d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <a class="navbar-brand me-lg-auto" href="{{ url_for('catalog.catalog') }}">Comic Book Corner</a>
            </a>

            <div class="d-flex col-12 col-lg-auto mb-lg-0 me-lg-3">
                <input id="globalSearch" value="{{ search_value if search_value else ''}}" class="form-control me-2"
                    placeholder="Поиск..." aria-label="Search">
                <button class="btn btn-outline-secondary" type="button" onclick="search_comic_value()">Поиск</button>
            </div>


            <ul class="nav">
                <li class="nav-item">
                    <a href="{{ url_for('user.cart', id=user.id) }}"
                        class="nav-link link-body-emphasis px-2">Корзина</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link link-body-emphasis dropdown-toggle" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Аккаунт
                    </a>
                    <ul class="dropdown-menu">
                        {% if user.is_authenticated %}
                        {% if user.admin == 1 %}
                        <li><a class="dropdown-item" href="{{ url_for('admin.admin') }}">Админ</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{{ url_for('user.profile', id=user.id) }}">Профиль</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Выход</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{{ url_for('auth.login') }}">Вход</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('auth.register') }}">Регистрация</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>

<script>

    document.addEventListener("DOMContentLoaded", function () {
        var globalSearch = document.getElementById("globalSearch");
        globalSearch.addEventListener("keydown", function (e) {
            if (e.code === "Enter") {
                search_comic_value();
            }
        });
    })

    function search_comic_value() {
        var globalSearch = document.getElementById("globalSearch");
        var url = window.location.href;
        if (globalSearch.value === '') {
            if (url.indexOf('search_value=') !== -1) {
                var new_url = url.replace(/([?&])search_value=[^&#]+/, '');
                window.location.href = new_url;
            }
        } else {
            if (url.indexOf('search_value=') !== -1) {
                var new_url = url.replace(/(search_value=)[^&#]+/, '$1' + globalSearch.value);
                window.location.href = new_url;
            } else {
                var separator = url.indexOf('?') !== -1 ? '&' : '?';
                window.location.href = url + separator + 'search_value=' + globalSearch.value;
            }
        }
    }
</script>