{% extends 'main/base.html' %}

{% block content %}

<br />
<div id="notification-container" class="m-auto"></div>
<br />

<form method="POST" enctype="multipart/form-data" id="genre-form" onsubmit="add_genre(event)">
    {{form.hidden_tag()}}

    {{form.title.label(class="form-label")}}
    {{form.title(class="form-control")}}
    {{form.description.label(class="form-label")}}
    {{form.description(class="form-control")}}
    <br />
    {{form.submit(class="btn btn-secondary")}}
</form>

<br />

{% include 'main/table_search.html' %}

<script>
    function add_genre(event) {
        event.preventDefault();

        var formData = new FormData(document.getElementById('genre-form'));

        fetch('/admin/add_genre', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);

                if (data.message) {

                    showNotification(data.message, data.category);

                    var table = document.getElementById('tableSearch');

                    var newRow = table.insertRow(-1);

                    var cell1 = newRow.insertCell(0);
                    cell1.textContent = formData.get('title');

                    var cell2 = newRow.insertCell(1);
                    cell2.textContent = formData.get('description');

                    var cell3 = newRow.insertCell(2);
                    var deleteButton = document.createElement('button');
                    deleteButton.id = 'button-delete-' + data.id;
                    deleteButton.type = 'button';
                    deleteButton.classList.add('btn', 'btn-outline-danger');
                    deleteButton.textContent = 'Удалить';
                    deleteButton.addEventListener('click', function () {
                        delete_item(data.id, 'genre');
                    });
                    cell3.appendChild(deleteButton);

                    document.getElementById('genre-form').reset();
                } else {
                    console.error('Ошибка при добавлении жанра:', data.error);
                }
            })
            .catch(error => {
                console.error('Ошибка при отправке запроса на сервер:', error);
            });
    }

</script>

{% endblock %}