{% extends 'base.html' %}

{% block content %}

</br>

<div class="d-grid gap-2 col-6 mx-auto">
    <button data-bs-target="#add-collapse" class="btn btn-secondary d-inline-flex align-items-center dropdown-toggle collapsed" aria-expanded="false" data-bs-toggle="collapse">
        Изменить список
    </button>
    <div class="collapse" id="add-collapse">
        <ul class="btn-toggle-nav list-unstyled d-grid gap-2">
            <a type="button" class="btn btn-secondary" href="{{ url_for('add_comic') }}">Комиксов</a>
            <a type="button" class="btn btn-secondary" href="{{ url_for('add_author') }}">Авторов</a>
            <a type="button" class="btn btn-secondary" href="{{ url_for('add_publisher') }}">Издателей</a>
            <a type="button" class="btn btn-secondary" href="{{ url_for('add_genre') }}">Жанров</a>
        </ul>
    </div>
    <a type="button" class="btn btn-secondary" href="{{ url_for('change_user') }}">Управление пользователями</a>
</div>

{% endblock %}