{% extends 'base.html' %}

{% block content %}

</br>
<div class="d-grid gap-2 col-6 mx-auto">
    <a type="button" class="btn btn-secondary" href="{{ url_for('add_comic') }}">Добавить комикс</a></br>
    <a type="button" class="btn btn-secondary" href="{{ url_for('add_author') }}">Добавить автора</a></br>
    <a type="button" class="btn btn-secondary" href="{{ url_for('add_publisher') }}">Добавить издателя</a></br>
    <a type="button" class="btn btn-secondary" href="{{ url_for('add_genre') }}">Добавить жанр</a></br>
</div>


{% endblock %}