{% extends 'base.html' %}

{% block content %}

<br />

<div style="width: 100%; height: 650px;">  
  
    <div style="width: 50%; float:left;">  
        <form method="POST" enctype="multipart/form-data">
            {{form.hidden_tag()}}
        
            {{form.one_list.label(class="form-label")}}
            {{form.one_list(class="form-control")}}
            <br />
            {{form.submit(class="btn btn-secondary")}}
        </form>
    </div>  

    <div style="width:50%; float:left;">  
        {%if form2%}
            
        {%elif user_form%}
            <p>Имя: {{user_form.username}}</p>
            <p>Логин: {{user_form.login}}</p>
            <p>Админ: {{user_form.admin}}</p>
            <form action="/make_admin/{{user_form.id}}" method="post">
                <input type="submit" class="btn btn-secondary" value="Дать права администратора" >
            </form>
        {%endif%}
    </div>  
</div>    

{% endblock %}