<header class="p-3 text-bg-dark">
    <div class="container">
        <nav class="navbar border-bottom border-body d-flex bg-dark align-items-center justify-content-center justify-content-lg-start"
            data-bs-theme="dark">
            <a href="/" class=" d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <a class="navbar-brand me-lg-auto" href="{{ url_for('index') }}">Comic Book Corner</a>
            </a>

            <form class="d-flex col-12 col-lg-auto mb-lg-0 me-lg-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Поиск..." aria-label="Search">
                <button class="btn btn-outline-secondary" type="submit">Поиск</button>
            </form>

            <ul class="nav">
                <li class="nav-item">
                    <a href="#" class="nav-link link-body-emphasis px-2">Корзина</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link link-body-emphasis dropdown-toggle" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Аккаунт
                    </a>
                    <ul class="dropdown-menu">
                        {% if user.is_authenticated %}
                        {% if user.admin == 1 %}
                        <li><a class="dropdown-item" href="{{ url_for('admin') }}">Админ</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{{ url_for('profile', id=user.id) }}">Профиль</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Выход</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{{ url_for('login') }}">Вход</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('register') }}">Регистрация</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>